<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfXMpIJ5O3SHKv2LLRGGdAXW1VgFwpwe8</string>
	<key>GCM_SENDER_ID</key>
	<string>303252933790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.myfirstapptodo</string>
	<key>PROJECT_ID</key>
	<string>my-first-app-to-do-vlvf8w</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-app-to-do-vlvf8w.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303252933790:ios:4d696b3c644ce9e5cd3f8f</string>
</dict>
</plist>